html
  head
    title= "Elliott Thompson"
    link(rel="icon" href="favicon.ico?v=2" type="image/x-icon")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
  body
    #react__root
    #homepageData(data= homepage)
    script(type='text/javascript' src='/static/index.js')
